{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Call Autobot</h1>
    <p class="lead">Next Autobot call available in the middle of the night? Schedule it with us so you don't waste time.</p>
    <hr class="my-4">
    <form>
      <div class="form-group row">
        <label for="url" class="col-sm-3 col-form-label">Commit URL</label>
        <div class="col-sm-9">
          <input type="url" class="form-control" id="url" placeholder="https://github.ugrad.cs.ubc.ca/" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="comment" class="col-sm-3 col-form-label">Comment</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="comment" placeholder="@autobot #d0" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="datetime" class="col-sm-3 col-form-label">Date & Time</label>
        <div class="col-sm-9">
          <input type="datetime-local" class="form-control" id="datetime" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-lg btn-primary">Schedule!</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}
